<script src="{{ url_for('static', filename='js/friconix.js') }}"></script>

<div class="myfooter">
<footer class="footer mt-autopy-3 bg-dark fg-dark">
  <div class="container text-center mb-1">
    <span class="text-muted">Entre em contato.</span><br>
    <a href="{{ url_for('info') }}"><span style="font-size: 32px; color:snow; padding-right: 20px;">
      <i class="fi-xnsrxl-phone-solid"></i>
      </span></a>
        <a href="{{ url_for('add_contato') }}"><span style="font-size: 32px; color:snow">
      <i class="fi-xwsuxl-envelope-solid"></i>
      </span></a>
  </div>
</footer>
</div>

